<div class="page panier-moins-cher-detail-ctrl" data-ng-controller="PanierMoinsCherDetailCtrl">
    <header>
        <div class="inner">
            <div class="sec-nav-btn pull-left" data-ng-click="onBack()"><i class="icon-circle-arrow-left sec-nav-icon"></i></div>
            <h1>Moins Cher Detail</h1>
        </div>
    </header>
    <div class="content">
        <ul class="produit-moins-cher-liste">
            <li class="produit-moins-cher"
                data-ng-click="onSelectPanierMoinsCher(produitMoinsCher)"
                data-ng-repeat="produitMoinsCher in produitMoinsCherListe"
                data-ng-class="{active: produitMoinsCher.isActive}">
                <span class="title">{{produitMoinsCher.name}}</span>
                <span class="cnt">(x{{produitMoinsCher.cnt}})</span>
                <div>{{produitMoinsCher.uPrice}} cfp
                <span class="pull-right t-price">{{produitMoinsCher.tPrice}}</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="btn-controls">
        <h4 class="t-price pull-right">{{tTotal}}</h4>
        <h4>Total</h4>
    </div>
</div>

