<div class="page panier-liste-ctrl" data-ng-controller="PanierListeCtrl">
    <header>
        <div class="inner">
            <a data-ng-click="onPanierEdit()" class="pull-left">
                <div class="sec-nav-btn"><i class="icon-pencil sec-nav-icon"></i></div>
            </a>
            <a data-ng-click="onPanierAdd()" class="pull-right">
                <div class="sec-nav-btn"><i class="icon-plus sec-nav-icon"></i></div>
            </a>

            <h1>Panier Liste V1</h1>
        </div>
    </header>
    <div class="content">
        <ul class="panier-liste">
            <li class="panier"
                data-ng-click="onSelectPanier(panier)"
                data-ng-repeat="panier in panierListe"
                data-ng-class="{active: panier.isActive}">
                {{panier.name}}  <i class="icon-chevron-right pull-right"></i>
            </li>
        </ul>
    </div>
</div>

