<div class="page produit-moins-cher-ctrl" data-ng-controller="ProduitMoinsCherCtrl">
    <header>
        <div class="inner">
            <div class="sec-nav-btn pull-left" data-ng-click="onBack()"><i class="icon-circle-arrow-left sec-nav-icon"></i></div>
            <h1>Produit Moins Cher</h1>
        </div>
    </header>
    <div class="content">
        <ul class="produit-moins-cher-liste">
            <li class="produit-moins-cher"
                data-ng-click="onSelectProduit(produit)"
                data-ng-repeat="produitMoinsCher in produitMoinsCherListe">
                <h1>{{produitMoinsCher.shop}}</h1>
                <p>Adresse dolor sit amet, consectetur adipiscing elit. Praesent quis malesuada ipsum.</p>
                <h1 class="pull-right">{{produitMoinsCher.price}}</h1>
                <h1>{{produitMoinsCher.name}}</h1>
            </li>
        </ul>
    </div>
</div>