.panier-moins-cher-detail-ctrl{

  .content{
    margin-bottom: 115px;
  }

  .produit-moins-cher-liste{
    list-style-type: none;
    height: 100%;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    .produit-moins-cher{
      padding: 20px;
      border-bottom: #ddd solid 1px;

      .cnt{
        color: #999;
      }

      .title, .t-price{
        font-weight: bold;
      }



      i{
        margin-top: 4px;
        color: #ddd;
      }

      &.active{
        background: #006dcc;
        color: #ffffff;

        .cnt, i{
          color: #fff;
        }
      }
    }
  }

  .btn-controls{
    height: 68px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #bbb;
    padding: 10px 5px;
    margin-bottom: $pri-nav-height;
    padding: 20px;

    h4{
      margin: 0;
    }

  }
}

