.pri-nav{

  @include reflection;

  padding: 0 10px;
  background: #000000;

  //margin-left: auto ;
  //margin-right: auto ;
  //padding: 0 90px;

  ul{
    margin: 0;
    list-style-type: none; /*to remove bullets*/
    //text-align: center;
    text-align:justify;

    &:after {
      content:' ';
      display:inline-block;
      width: 100%;
    }
    li{
      width: 97px;
      padding: 0 20px;
      display: inline-block;
      margin-top: 1px;

      &.active{
        @include border-radius(4px);
        background: rgba(#fff,.2);
      }

      i{
        text-align: center;
        display: block;
        margin: 5px auto 0;
      }

      h1{
        color: #ffffff;
        text-shadow: black 0 -1px 0;
        font-size: 11px;
        text-align: center;
        line-height: 15px;
        margin: 0;
      }
    }
  }


}