.produit-moins-cher-ctrl{

  .produit-moins-cher-liste{
    list-style-type: none;
    height: 100%;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    .produit-moins-cher{
      padding: 20px;
      border-bottom: #ddd solid 1px;

      h1{
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 10px;
        line-height: 14px;
      }

    }
  }
}

