.recherche-commune-ctrl{

  .commune-liste{
    list-style-type: none;
    height: 100%;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    .commune{
      padding: 20px;
      border-bottom: #ddd solid 1px;

      &.active{
        background: #006dcc;
        color: #ffffff;
      }
    }
  }
}

