.recherche-historique-ctrl{

  .content{
    margin-bottom: 110px;
  }

  .produit-liste{
    list-style-type: none;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    //-webkit-transform-style: preserve-3d;
    margin: 0;

    .produit{
      padding: 20px;
      border-bottom: #ddd solid 1px;

      i{
        margin-top: 4px;
        color: #ddd;
      }

      &.active{
        background: #006dcc;
        color: #ffffff;

        i{
          color: #ffffff;
        }
      }
    }
  }

  .btn-controls{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #bbb;
    padding: 12px 5px;
    margin-bottom: $pri-nav-height;

    input{
      width: 100%;
      height: 40px !important;
    }

    i{
      position: absolute;
      right: 20px;
      top: 17px;
      font-size: 25px;
      line-height: 28px;
      color: #ddd;
    }

  }
}

