.recherche-config-ctrl {

  .content {
    padding: 20px;
  }

  h1 {
    text-align: center;
  }

  .commune{

    margin-bottom: 20px;

    i{
      margin-right: 17px;
      margin-top: 4px !important;
    }
  }

  section{
    margin-bottom: 20px;
  }



  .range-wrap {
    //padding: 20px;
    position: relative;

    input {
      width: 100% !important;
    }
  }

}

