/* line 3, ../sass/panier-moins-cher.scss */
.panier-moins-cher-ctrl .panier-moins-cher-liste {
  list-style-type: none;
  height: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 11, ../sass/panier-moins-cher.scss */
.panier-moins-cher-ctrl .panier-moins-cher-liste .panier-moins-cher {
  padding: 20px;
  border-bottom: #ddd solid 1px;
}
/* line 15, ../sass/panier-moins-cher.scss */
.panier-moins-cher-ctrl .panier-moins-cher-liste .panier-moins-cher i {
  margin-top: 4px;
  color: #ddd;
}
/* line 20, ../sass/panier-moins-cher.scss */
.panier-moins-cher-ctrl .panier-moins-cher-liste .panier-moins-cher.active {
  background: #006dcc;
  color: #ffffff;
}
/* line 24, ../sass/panier-moins-cher.scss */
.panier-moins-cher-ctrl .panier-moins-cher-liste .panier-moins-cher.active i {
  color: #ffffff;
}
/* line 29, ../sass/panier-moins-cher.scss */
.panier-moins-cher-ctrl .panier-moins-cher-liste .panier-moins-cher h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  line-height: 14px;
}
