/* line 3, ../sass/produit-moin-cher.scss */
.panier-detail-ctrl .produit-liste {
  list-style-type: none;
  height: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 11, ../sass/produit-moin-cher.scss */
.panier-detail-ctrl .produit-liste .produit {
  padding: 20px;
  border-bottom: #ddd solid 1px;
}
/* line 15, ../sass/produit-moin-cher.scss */
.panier-detail-ctrl .produit-liste .produit.active {
  background: #006dcc;
  color: #ffffff;
}
