/* line 3, ../sass/recherche-commune.scss */
.recherche-commune-ctrl .commune-liste {
  list-style-type: none;
  height: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 11, ../sass/recherche-commune.scss */
.recherche-commune-ctrl .commune-liste .commune {
  padding: 20px;
  border-bottom: #ddd solid 1px;
}
/* line 15, ../sass/recherche-commune.scss */
.recherche-commune-ctrl .commune-liste .commune.active {
  background: #006dcc;
  color: #ffffff;
}
