/* line 45, ../sass/base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 52, ../sass/base.scss */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #000;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
}
/* line 67, ../sass/base.scss */
html a:hover, body a:hover {
  text-decoration: none;
}
/* line 70, ../sass/base.scss */
html a:focus, body a:focus {
  text-decoration: none;
}
/* line 73, ../sass/base.scss */
html a:active, body a:active {
  text-decoration: none;
}
/* line 76, ../sass/base.scss */
html a:link, body a:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 82, ../sass/base.scss */
button.btn, input[type="submit"].btn {
  line-height: 25px;
}

/* line 117, ../sass/base.scss */
.slide-left-enter, .slide-left-leave, .slide-right-enter, .slide-right-leave {
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -ms-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: -webkit-transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}

/* line 128, ../sass/base.scss */
.slide-left-enter {
  -webkit-transform: translate3d(100%, 0, 0);
}

/* line 133, ../sass/base.scss */
.slide-left-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 138, ../sass/base.scss */
.slide-left-leave {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 143, ../sass/base.scss */
.slide-left-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}

/* line 150, ../sass/base.scss */
.slide-right-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
}

/* line 155, ../sass/base.scss */
.slide-right-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 160, ../sass/base.scss */
.slide-right-leave {
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 165, ../sass/base.scss */
.slide-right-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
}

/* line 172, ../sass/base.scss */
input {
  height: 30px !important;
}

/* line 176, ../sass/base.scss */
.inline-edit {
  position: absolute;
}
/* line 183, ../sass/base.scss */
.inline-edit .btn {
  height: 20px;
  line-height: 0px;
}

/* line 191, ../sass/base.scss */
.loader {
  margin-left: 10px;
  float: right;
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../img/spinner.gif) center center no-repeat;
}

/* line 203, ../sass/base.scss */
.logger-wrap .logger-btn {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  height: 40px;
  opacity: 0;
  z-index: 3;
}
/* line 213, ../sass/base.scss */
.logger-wrap .logger {
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  position: absolute;
  height: 50%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
/* line 227, ../sass/base.scss */
.logger-wrap .logger .log {
  background: rgba(0, 0, 255, 0.5);
}
/* line 231, ../sass/base.scss */
.logger-wrap .logger .info {
  background: rgba(0, 128, 0, 0.5);
}
/* line 235, ../sass/base.scss */
.logger-wrap .logger .debug {
  background: rgba(0, 0, 0, 0.5);
}
/* line 239, ../sass/base.scss */
.logger-wrap .logger .warn {
  background: rgba(255, 165, 0, 0.5);
}
/* line 243, ../sass/base.scss */
.logger-wrap .logger .error {
  background: rgba(255, 0, 0, 0.5);
}
/* line 247, ../sass/base.scss */
.logger-wrap .logger div {
  padding: 2px 10px;
  color: #eee;
  border-bottom: rgba(255, 255, 255, 0.2) solid 1px;
}

/* line 259, ../sass/base.scss */
.sec-nav-btn {
  -webkit-box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 10px;
  background: #393939;
}

/* line 266, ../sass/base.scss */
.sec-nav-icon, .pri-nav-icon {
  color: #ffffff;
  text-shadow: black 0 2px 0;
  font-size: 22px;
  vertical-align: text-top;
}

/* line 1, ../sass/toggle-btn.scss */
.toggle-btn-mask {
  overflow: hidden;
  width: 50px;
  height: 20px;
  position: relative;
  background: #eee;
}
/* line 10, ../sass/toggle-btn.scss */
.toggle-btn-mask .toggle-btn {
  width: 80px;
  height: 20px;
}
/* line 15, ../sass/toggle-btn.scss */
.toggle-btn-mask .toggle-btn.isOff {
  margin-left: -30px;
}
/* line 19, ../sass/toggle-btn.scss */
.toggle-btn-mask .toggle-btn span {
  width: 30px;
  text-align: center;
}
/* line 24, ../sass/toggle-btn.scss */
.toggle-btn-mask .toggle-btn:after {
  content: '';
  background: #000;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: auto;
}

/* line 1, ../sass/page.scss */
.page {
  background: #fff;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
}
/* line 12, ../sass/page.scss */
.page header {
  height: 47px;
  position: absolute;
  width: 100%;
  background: #1b1b1b;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  border-bottom: rgba(255, 255, 255, 0.4) solid 1px;
  z-index: 1;
}
/* line 100, ../sass/base.scss */
.page header:before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.2)));
  left: 1px;
  right: 1px;
  top: 1px;
  height: 22px;
  pointer-events: none;
}
/* line 25, ../sass/page.scss */
.page header .inner {
  padding: 5px;
  position: relative;
}
/* line 29, ../sass/page.scss */
.page header .inner h1 {
  color: #ffffff;
  text-shadow: black 0 -1px 0;
  font-size: 20px;
  text-align: center;
  line-height: 33px;
  margin: 0 50px;
}
/* line 40, ../sass/page.scss */
.page .content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  margin-top: 47px;
  margin-bottom: 47px;
}
/* line 54, ../sass/page.scss */
.page .btn-controls:after {
  content: '';
  background: #ff0000;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  border-top: #ddd solid 1px;
  top: 1px;
}

/* line 1, ../sass/pri-nav.scss */
.pri-nav {
  padding: 0 10px;
  background: #000000;
}
/* line 100, ../sass/base.scss */
.pri-nav:before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.2)));
  left: 1px;
  right: 1px;
  top: 1px;
  height: 22px;
  pointer-events: none;
}
/* line 12, ../sass/pri-nav.scss */
.pri-nav ul {
  margin: 0;
  list-style-type: none;
  /*to remove bullets*/
  text-align: justify;
}
/* line 18, ../sass/pri-nav.scss */
.pri-nav ul:after {
  content: ' ';
  display: inline-block;
  width: 100%;
}
/* line 23, ../sass/pri-nav.scss */
.pri-nav ul li {
  width: 97px;
  padding: 0 20px;
  display: inline-block;
  margin-top: 1px;
}
/* line 29, ../sass/pri-nav.scss */
.pri-nav ul li.active {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
}
/* line 34, ../sass/pri-nav.scss */
.pri-nav ul li i {
  text-align: center;
  display: block;
  margin: 5px auto 0;
}
/* line 40, ../sass/pri-nav.scss */
.pri-nav ul li h1 {
  color: #ffffff;
  text-shadow: black 0 -1px 0;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
  margin: 0;
}

/* line 3, ../sass/panier-liste.scss */
.panier-liste-ctrl .panier-liste {
  list-style-type: none;
  height: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 11, ../sass/panier-liste.scss */
.panier-liste-ctrl .panier-liste .panier {
  padding: 20px;
  border-bottom: #ddd solid 1px;
}
/* line 15, ../sass/panier-liste.scss */
.panier-liste-ctrl .panier-liste .panier i {
  margin-top: 4px;
  color: #ddd;
}
/* line 20, ../sass/panier-liste.scss */
.panier-liste-ctrl .panier-liste .panier.active {
  background: #006dcc;
  color: #ffffff;
}
/* line 24, ../sass/panier-liste.scss */
.panier-liste-ctrl .panier-liste .panier.active i {
  color: #ffffff;
}

/* line 4, ../sass/panier-detail.scss */
.panier-detail-ctrl .content {
  margin-bottom: 115px;
}
/* line 10, ../sass/panier-detail.scss */
.panier-detail-ctrl .produit-liste {
  list-style-type: none;
  height: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 18, ../sass/panier-detail.scss */
.panier-detail-ctrl .produit-liste .produit {
  padding: 20px;
  border-bottom: #ddd solid 1px;
}
/* line 22, ../sass/panier-detail.scss */
.panier-detail-ctrl .produit-liste .produit .cnt {
  color: #999;
}
/* line 26, ../sass/panier-detail.scss */
.panier-detail-ctrl .produit-liste .produit i {
  margin-top: 4px;
  color: #ddd;
}
/* line 31, ../sass/panier-detail.scss */
.panier-detail-ctrl .produit-liste .produit.active {
  background: #006dcc;
  color: #ffffff;
}
/* line 35, ../sass/panier-detail.scss */
.panier-detail-ctrl .produit-liste .produit.active .cnt, .panier-detail-ctrl .produit-liste .produit.active i {
  color: #fff;
}
/* line 42, ../sass/panier-detail.scss */
.panier-detail-ctrl .btn-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #bbb;
  padding: 10px 5px;
  margin-bottom: 47px;
}

/* line 3, ../sass/panier-moins-cher.scss */
.panier-moins-cher-ctrl .panier-moins-cher-liste {
  list-style-type: none;
  height: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 11, ../sass/panier-moins-cher.scss */
.panier-moins-cher-ctrl .panier-moins-cher-liste .panier-moins-cher {
  padding: 20px;
  border-bottom: #ddd solid 1px;
}
/* line 15, ../sass/panier-moins-cher.scss */
.panier-moins-cher-ctrl .panier-moins-cher-liste .panier-moins-cher i {
  margin-top: 4px;
  color: #ddd;
}
/* line 20, ../sass/panier-moins-cher.scss */
.panier-moins-cher-ctrl .panier-moins-cher-liste .panier-moins-cher.active {
  background: #006dcc;
  color: #ffffff;
}
/* line 24, ../sass/panier-moins-cher.scss */
.panier-moins-cher-ctrl .panier-moins-cher-liste .panier-moins-cher.active i {
  color: #ffffff;
}
/* line 29, ../sass/panier-moins-cher.scss */
.panier-moins-cher-ctrl .panier-moins-cher-liste .panier-moins-cher h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  line-height: 14px;
}

/* line 3, ../sass/panier-moins-cher-detail.scss */
.panier-moins-cher-detail-ctrl .content {
  margin-bottom: 115px;
}
/* line 7, ../sass/panier-moins-cher-detail.scss */
.panier-moins-cher-detail-ctrl .produit-moins-cher-liste {
  list-style-type: none;
  height: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 15, ../sass/panier-moins-cher-detail.scss */
.panier-moins-cher-detail-ctrl .produit-moins-cher-liste .produit-moins-cher {
  padding: 20px;
  border-bottom: #ddd solid 1px;
}
/* line 19, ../sass/panier-moins-cher-detail.scss */
.panier-moins-cher-detail-ctrl .produit-moins-cher-liste .produit-moins-cher .cnt {
  color: #999;
}
/* line 23, ../sass/panier-moins-cher-detail.scss */
.panier-moins-cher-detail-ctrl .produit-moins-cher-liste .produit-moins-cher .title, .panier-moins-cher-detail-ctrl .produit-moins-cher-liste .produit-moins-cher .t-price {
  font-weight: bold;
}
/* line 29, ../sass/panier-moins-cher-detail.scss */
.panier-moins-cher-detail-ctrl .produit-moins-cher-liste .produit-moins-cher i {
  margin-top: 4px;
  color: #ddd;
}
/* line 34, ../sass/panier-moins-cher-detail.scss */
.panier-moins-cher-detail-ctrl .produit-moins-cher-liste .produit-moins-cher.active {
  background: #006dcc;
  color: #ffffff;
}
/* line 38, ../sass/panier-moins-cher-detail.scss */
.panier-moins-cher-detail-ctrl .produit-moins-cher-liste .produit-moins-cher.active .cnt, .panier-moins-cher-detail-ctrl .produit-moins-cher-liste .produit-moins-cher.active i {
  color: #fff;
}
/* line 45, ../sass/panier-moins-cher-detail.scss */
.panier-moins-cher-detail-ctrl .btn-controls {
  height: 68px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #bbb;
  padding: 10px 5px;
  margin-bottom: 47px;
  padding: 20px;
}
/* line 56, ../sass/panier-moins-cher-detail.scss */
.panier-moins-cher-detail-ctrl .btn-controls h4 {
  margin: 0;
}

/* line 3, ../sass/produit-detail.scss */
.produit-detail-ctrl .content {
  padding: 20px;
  margin-bottom: 170px;
}
/* line 8, ../sass/produit-detail.scss */
.produit-detail-ctrl .produit-wrap {
  height: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 16, ../sass/produit-detail.scss */
.produit-detail-ctrl h3, .produit-detail-ctrl h4 {
  margin-top: 0;
  line-height: 20px;
}
/* line 22, ../sass/produit-detail.scss */
.produit-detail-ctrl .quantite h1 {
  text-align: center;
}
/* line 29, ../sass/produit-detail.scss */
.produit-detail-ctrl .btn-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #bbb;
  padding: 10px 5px;
  margin-bottom: 47px;
}

/* line 3, ../sass/produit-ajouter-au-panier.scss */
.produit-ajouter-au-panier-ctrl .content {
  margin-bottom: 115px;
}
/* line 7, ../sass/produit-ajouter-au-panier.scss */
.produit-ajouter-au-panier-ctrl .panier-liste {
  list-style-type: none;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}
/* line 16, ../sass/produit-ajouter-au-panier.scss */
.produit-ajouter-au-panier-ctrl .panier-liste .panier {
  padding: 20px;
  border-bottom: #ddd solid 1px;
}
/* line 21, ../sass/produit-ajouter-au-panier.scss */
.produit-ajouter-au-panier-ctrl .panier-liste .panier input {
  float: right;
  height: 20px !important;
  margin: 0;
}
/* line 27, ../sass/produit-ajouter-au-panier.scss */
.produit-ajouter-au-panier-ctrl .panier-liste .panier.active {
  background: #006dcc;
  color: #ffffff;
}
/* line 36, ../sass/produit-ajouter-au-panier.scss */
.produit-ajouter-au-panier-ctrl .btn-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #bbb;
  padding: 10px 5px;
  margin-bottom: 47px;
}

/* line 3, ../sass/produit-moins-cher.scss */
.produit-moins-cher-ctrl .produit-moins-cher-liste {
  list-style-type: none;
  height: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 11, ../sass/produit-moins-cher.scss */
.produit-moins-cher-ctrl .produit-moins-cher-liste .produit-moins-cher {
  padding: 20px;
  border-bottom: #ddd solid 1px;
}
/* line 15, ../sass/produit-moins-cher.scss */
.produit-moins-cher-ctrl .produit-moins-cher-liste .produit-moins-cher h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  line-height: 14px;
}

/* line 3, ../sass/recherche.scss */
.recherche-ctrl .content {
  margin-bottom: 110px;
}
/* line 7, ../sass/recherche.scss */
.recherche-ctrl .produit-liste {
  list-style-type: none;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}
/* line 16, ../sass/recherche.scss */
.recherche-ctrl .produit-liste .produit {
  padding: 20px;
  border-bottom: #ddd solid 1px;
}
/* line 20, ../sass/recherche.scss */
.recherche-ctrl .produit-liste .produit i {
  margin-top: 4px;
  color: #ddd;
}
/* line 25, ../sass/recherche.scss */
.recherche-ctrl .produit-liste .produit.active {
  background: #006dcc;
  color: #ffffff;
}
/* line 29, ../sass/recherche.scss */
.recherche-ctrl .produit-liste .produit.active i {
  color: #ffffff;
}
/* line 36, ../sass/recherche.scss */
.recherche-ctrl .btn-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #bbb;
  padding: 12px 5px;
  margin-bottom: 47px;
}
/* line 45, ../sass/recherche.scss */
.recherche-ctrl .btn-controls input {
  width: 100%;
  height: 40px !important;
}
/* line 50, ../sass/recherche.scss */
.recherche-ctrl .btn-controls i {
  position: absolute;
  right: 20px;
  top: 17px;
  font-size: 25px;
  line-height: 28px;
  color: #ddd;
}

/* line 3, ../sass/recherche-historique.scss */
.recherche-historique-ctrl .content {
  margin-bottom: 110px;
}
/* line 7, ../sass/recherche-historique.scss */
.recherche-historique-ctrl .produit-liste {
  list-style-type: none;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}
/* line 16, ../sass/recherche-historique.scss */
.recherche-historique-ctrl .produit-liste .produit {
  padding: 20px;
  border-bottom: #ddd solid 1px;
}
/* line 20, ../sass/recherche-historique.scss */
.recherche-historique-ctrl .produit-liste .produit i {
  margin-top: 4px;
  color: #ddd;
}
/* line 25, ../sass/recherche-historique.scss */
.recherche-historique-ctrl .produit-liste .produit.active {
  background: #006dcc;
  color: #ffffff;
}
/* line 29, ../sass/recherche-historique.scss */
.recherche-historique-ctrl .produit-liste .produit.active i {
  color: #ffffff;
}
/* line 36, ../sass/recherche-historique.scss */
.recherche-historique-ctrl .btn-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #bbb;
  padding: 12px 5px;
  margin-bottom: 47px;
}
/* line 45, ../sass/recherche-historique.scss */
.recherche-historique-ctrl .btn-controls input {
  width: 100%;
  height: 40px !important;
}
/* line 50, ../sass/recherche-historique.scss */
.recherche-historique-ctrl .btn-controls i {
  position: absolute;
  right: 20px;
  top: 17px;
  font-size: 25px;
  line-height: 28px;
  color: #ddd;
}

/* line 3, ../sass/recherche-config.scss */
.recherche-config-ctrl .content {
  padding: 20px;
}
/* line 7, ../sass/recherche-config.scss */
.recherche-config-ctrl h1 {
  text-align: center;
}
/* line 11, ../sass/recherche-config.scss */
.recherche-config-ctrl .commune {
  margin-bottom: 20px;
}
/* line 15, ../sass/recherche-config.scss */
.recherche-config-ctrl .commune i {
  margin-right: 17px;
  margin-top: 4px !important;
}
/* line 21, ../sass/recherche-config.scss */
.recherche-config-ctrl section {
  margin-bottom: 20px;
}
/* line 27, ../sass/recherche-config.scss */
.recherche-config-ctrl .range-wrap {
  position: relative;
}
/* line 31, ../sass/recherche-config.scss */
.recherche-config-ctrl .range-wrap input {
  width: 100% !important;
}

/* line 3, ../sass/recherche-commune.scss */
.recherche-commune-ctrl .commune-liste {
  list-style-type: none;
  height: 100%;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
/* line 11, ../sass/recherche-commune.scss */
.recherche-commune-ctrl .commune-liste .commune {
  padding: 20px;
  border-bottom: #ddd solid 1px;
}
/* line 15, ../sass/recherche-commune.scss */
.recherche-commune-ctrl .commune-liste .commune.active {
  background: #006dcc;
  color: #ffffff;
}

/* line 18, ../sass/screen.scss */
.app {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ddd;
}

/* line 26, ../sass/screen.scss */
.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 47px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* line 42, ../sass/screen.scss */
.navigation .content {
  height: 100%;
  position: relative;
  background: #000;
}

/* line 68, ../sass/screen.scss */
.main {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 82, ../sass/screen.scss */
.main > .content {
  -webkit-perspective: 400px;
  background: #ddd;
  height: 100%;
  width: 100%;
}

/* line 100, ../sass/screen.scss */
.noanimate {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* line 109, ../sass/screen.scss */
.please-rotate {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: #222;
  z-index: 2;
}
@media only screen and (orientation: portrait) {
  /* line 112, ../sass/screen.scss */
  .please-rotate {
    display: none;
  }
}
/* line 125, ../sass/screen.scss */
.please-rotate img {
  width: 277px;
  height: 262px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -138px;
  margin-top: -131px;
}
