/* line 1, ../sass/toggle-btn.scss */
.toggle-btn-mask {
  overflow: hidden;
  width: 50px;
  height: 20px;
  position: relative;
  background: #eee;
}
/* line 10, ../sass/toggle-btn.scss */
.toggle-btn-mask .toggle-btn {
  width: 80px;
  height: 20px;
}
/* line 15, ../sass/toggle-btn.scss */
.toggle-btn-mask .toggle-btn.isOff {
  margin-left: -30px;
}
/* line 19, ../sass/toggle-btn.scss */
.toggle-btn-mask .toggle-btn span {
  width: 30px;
  text-align: center;
}
/* line 24, ../sass/toggle-btn.scss */
.toggle-btn-mask .toggle-btn:after {
  content: '';
  background: #000;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: auto;
}
