<div class="page panier-moins-cher-ctrl" data-ng-controller="PanierMoinsCherCtrl">
    <header>
        <div class="inner">
            <div class="sec-nav-btn pull-left" data-ng-click="onBack()"><i class="icon-circle-arrow-left sec-nav-icon"></i></div>
            <h1>Panier Moins Cher</h1>
        </div>
    </header>
    <div class="content">
        <ul class="panier-moins-cher-liste">
            <li class="panier-moins-cher"
                data-ng-click="onSelectPanierMoinsCher(panierMoinsCher)"
                data-ng-repeat="panierMoinsCher in panierMoinsCherListe"
                data-ng-class="{active: panierMoinsCher.isActive}">
                <h1 class="pull-right">{{panierMoinsCher.price}}</h1>
                <h1>{{panierMoinsCher.shop}}</h1>
                <i class="icon-chevron-right pull-right"></i>
                <p>Adresse dolor sit amet, consectetur adipiscing elit.</p>
            </li>
        </ul>
    </div>
    <div class="btn-controls">
        <button class="btn btn-block btn-large btn-inverse" data-ng-click="onPanierMoinsCher()">Panier le moin cher</button>
    </div>
</div>

