<div class="page recherche-commune-ctrl" data-ng-controller="RechercheCommuneCtrl">
    <header>
        <div class="inner">
            <div class="sec-nav-btn pull-left" data-ng-click="onBack()"><i class="icon-circle-arrow-left sec-nav-icon"></i></div>
            <h1>Choix Commune</h1>
        </div>
    </header>
    <div class="content">
        <ul class="commune-liste">
            <li class="commune"
                data-ng-click="onSelectCommune(commune)"
                data-ng-repeat="commune in communeListe"
                data-ng-class="{active: commune.isActive}">
                {{commune.name}}
            </li>
        </ul>
    </div>
</div>

